[Unit]
Description=MTP Automount for %i
After=gvfs-mtp-volume-monitor.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=%h/.local/bin/mtp-automount mount %i
RemainAfterExit=no

[Install]
WantedBy=default.target
